Package: sh.litten.nevve
Name: Nevve
Depends: mobilesubstrate, preferenceloader, firmware (>= 11), ws.hbang.common (>= 1.14)
Version: 1.0
Architecture: iphoneos-arm
Description: Sounds Falling Down To Your Device
Maintainer: Litten <hello@litten.sh>
Author: Litten <hello@litten.sh>
Section: Tweaks
Depiction: https://repo.litten.sh/depictions/nve/index.html
SileoDepiction: https://repo.litten.sh/depictions/nve/nve.json
Icon: https://repo.litten.sh/depictions/nve/assets/icon.png