Package: me.shymemoriees.layla
Name: Layla
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: ShyMemoriees
Author: ShyMemoriees
Section: Tweaks
Version: 0.0.1-1+debug
Installed-Size: 104
