<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Haptic Feedback When...</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.shymemoriees.rosepreferences</string>
			<key>key</key>
			<string>VolumeChangedSwitch</string>
			<key>label</key>
			<string>Volume Changed</string>
			<key>PostNotification</key>
			<string>me.shymemoriees.rosepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.shymemoriees.rosepreferences</string>
			<key>key</key>
			<string>sleepButton</string>
			<key>label</key>
			<string>Pressing Only Sleep Button</string>
			<key>PostNotification</key>
			<string>me.shymemoriees.rosepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.shymemoriees.rosepreferences</string>
			<key>key</key>
			<string>homeButton</string>
			<key>label</key>
			<string>Pressing Home/Sleep Button</string>
			<key>PostNotification</key>
			<string>me.shymemoriees.rosepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.shymemoriees.rosepreferences</string>
			<key>key</key>
			<string>unmuting</string>
			<key>label</key>
			<string>Unmuting</string>
			<key>PostNotification</key>
			<string>me.shymemoriees.rosepreferences/ReloadPrefs</string>
		</dict>

	</array>
	<key>title</key>
	<string>Rose</string>
</dict>
</plist>