<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Play Sound When...</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>None</string>
			<key>defaults</key>
			<string>sh.litten.nevvepreferences</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>siriSounds</string>
			<key>label</key>
			<string>Summoning Siri</string>
			<key>set</key>
			<string>setAndPreview:forSpecifier:</string>
			<key>title</key>
			<string>Anywhere</string>
			<key>titlesDataSource</key>
			<string>getData:</string>
			<key>valuesDataSource</key>
			<string>getData:</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>None</string>
			<key>defaults</key>
			<string>sh.litten.nevvepreferences</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>screenshotSounds</string>
			<key>label</key>
			<string>Taking Screenshot</string>
			<key>set</key>
			<string>setAndPreview:forSpecifier:</string>
			<key>title</key>
			<string>Anywhere</string>
			<key>titlesDataSource</key>
			<string>getData:</string>
			<key>valuesDataSource</key>
			<string>getData:</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>None</string>
			<key>defaults</key>
			<string>sh.litten.nevvepreferences</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>reachabilitySounds</string>
			<key>label</key>
			<string>Begin/End Reachability</string>
			<key>set</key>
			<string>setAndPreview:forSpecifier:</string>
			<key>title</key>
			<string>Anywhere</string>
			<key>titlesDataSource</key>
			<string>getData:</string>
			<key>valuesDataSource</key>
			<string>getData:</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>None</string>
			<key>defaults</key>
			<string>sh.litten.nevvepreferences</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>textSelectionSounds</string>
			<key>label</key>
			<string>Using Text Selection</string>
			<key>set</key>
			<string>setAndPreview:forSpecifier:</string>
			<key>title</key>
			<string>Anywhere</string>
			<key>titlesDataSource</key>
			<string>getData:</string>
			<key>valuesDataSource</key>
			<string>getData:</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>None</string>
			<key>defaults</key>
			<string>sh.litten.nevvepreferences</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>powerDownSounds</string>
			<key>label</key>
			<string>Entering Power Down View</string>
			<key>set</key>
			<string>setAndPreview:forSpecifier:</string>
			<key>title</key>
			<string>Anywhere</string>
			<key>titlesDataSource</key>
			<string>getData:</string>
			<key>valuesDataSource</key>
			<string>getData:</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>None</string>
			<key>defaults</key>
			<string>sh.litten.nevvepreferences</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>respringSounds</string>
			<key>label</key>
			<string>ReSpringing</string>
			<key>set</key>
			<string>setAndPreview:forSpecifier:</string>
			<key>title</key>
			<string>Anywhere</string>
			<key>titlesDataSource</key>
			<string>getData:</string>
			<key>valuesDataSource</key>
			<string>getData:</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>None</string>
			<key>defaults</key>
			<string>sh.litten.nevvepreferences</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>touchingSounds</string>
			<key>label</key>
			<string>Touching The Screen</string>
			<key>set</key>
			<string>setAndPreview:forSpecifier:</string>
			<key>title</key>
			<string>Anywhere</string>
			<key>titlesDataSource</key>
			<string>getData:</string>
			<key>valuesDataSource</key>
			<string>getData:</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>None</string>
			<key>defaults</key>
			<string>sh.litten.nevvepreferences</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>typingSounds</string>
			<key>label</key>
			<string>Typing</string>
			<key>set</key>
			<string>setAndPreview:forSpecifier:</string>
			<key>title</key>
			<string>Anywhere</string>
			<key>titlesDataSource</key>
			<string>getData:</string>
			<key>valuesDataSource</key>
			<string>getData:</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>None</string>
			<key>defaults</key>
			<string>sh.litten.nevvepreferences</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>enteringHomescreenSounds</string>
			<key>label</key>
			<string>Entering Homescreen</string>
			<key>set</key>
			<string>setAndPreview:forSpecifier:</string>
			<key>title</key>
			<string>Anywhere</string>
			<key>titlesDataSource</key>
			<string>getData:</string>
			<key>valuesDataSource</key>
			<string>getData:</string>
		</dict>

	</array>
	<key>title</key>
	<string>Anywhere</string>
</dict>
</plist>